<!DOCTYPE html>
<html>
<head>
	<meta charset="{{charset}}">
	<link rel="shortcut icon" href="./game/icons/favicon.ico">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	<link rel="stylesheet" type="text/css" href="./game/style.css">
	<title>{{name}}</title>
	<script  src="./vendors/vendors.js"></script>
	<script  src="./vendors/vnjson.js"></script>

</head>
<body>
<section id="game">

</section>
<script  src="./vendors/init.js"></script>

{{#debug?}}
<section class="debug">
  	<h1 id="debug" style="color:red">debug</h1>
</section>
<script src="http://localhost:{{port}}/debug.js"></script>
{{/debug?}}

</body>
</html>