
/*
 * menuItem
 */
.vn-menu{
  position: abolute;
  top:150px;
  left:100px;
  border:3px dotted red;
  width:80%;
  height:40%;
  z-index:1000;
} 
.vn-menu-item{
  background-color: black;
  width: 100%;
  color: red;
  font-size: 14pt;
} 
.bar-btn{
  position: absolute;
  top:0px;
  left:0px;
  width:480px;
}
.memory-card{
  float: left;
}
.navigator{
  position: relative;

  float:right;
}
